<div class="container my-3">
    <h1 class="my-2">Form Validation</h1>
    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="submit(form)">
        <!-- Associate Name -->
        <div class="form-group">
            <input formControlName="associateName" type="text" name="associateName" id="associateName" class="form-control" placeholder="Associate Name">
            <div *ngIf="associateName.touched && associateName.invalid" class="alert alert-danger">
                <div *ngIf="associateName.errors.required">Please enter the Associate Name.</div>
                <div *ngIf="associateName.errors.minlength || associateName.errors.maxlength">Accepts Alphabets, space & Min 5 to Max 30 Char</div>
                <div *ngIf="associateName.errors.pattern">Accepts Alphabets, space & Min 5 to Max 30 Char</div>
            </div>
        </div>
        <!-- Associate ID -->
        <div class="form-group">
            <input formControlName="associateId" type="number" name="associateId" id="associateId" class="form-control" placeholder="Associate Id">
            <div *ngIf="associateId.touched && associateId.invalid" class="alert alert-danger">
                <div *ngIf="associateId.errors.required">Please enter the Associate Id.</div>
                <div *ngIf="associateId.errors.pattern">Invalid Associate Id</div>
            </div>
        </div>
        <!-- Project ID -->
        <div class="form-group">
            <input formControlName="projectId" type="text" name="projectId" id="projectId" class="form-control" placeholder="Project ID">
            <div *ngIf="projectId.touched && projectId.invalid" class="alert alert-danger">
                <div *ngIf="projectId.errors.required">Please enter the Project Id.</div>
                <div *ngIf="projectId.errors.pattern">Invalid Project Id</div>
            </div>
        </div>
        <!-- Radio Buttons -->
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label mr-5" for="exampleRadios1">
                  <input name="shore" class="form-check-input" type="radio" id="offshore" value="offshore" (change)="viewMode = 'offshore'">Offshore
                </label>
                <label class="form-check-label" for="exampleRadios2">
                  <input name="shore" class="form-check-input" type="radio" id="onshore" value="onshore" (change)="viewMode = 'onshore'">Onshore
                </label>
            </div>
        </div>
        <!-- Dropdown List for Location -->
        <div class="form-group">
            <div [ngSwitch]="viewMode">
                <select *ngSwitchCase="''" id="location" class="form-control">
                  <option value="" selected disabled>Select Location</option>
                </select>
                <select *ngSwitchCase="'offshore'" formControlName="offshore" name="offshore" id="offshore" class="form-control">
                  <option value="" selected disabled>Select Location</option>
                  <option *ngFor="let offshore of offshores" [ngValue]="offshore">{{ offshore.name }}</option>
                </select>
                <select *ngSwitchCase="'onshore'" formControlName="onshore" name="onshore" id="onshore" class="form-control">
                  <option value="" selected disabled>Select Location</option>
                  <option *ngFor="let onshore of onshores" [ngValue]="onshore">{{ onshore.name }}</option>
                </select>
            </div>
            <div *ngIf="offshore.touched && offshore.invalid" class="alert alert-danger">
                <div *ngIf="offshore.errors.required">Please select Location.</div>
            </div>
            <div *ngIf="onshore.touched && onshore.invalid" class="alert alert-danger">
                <div *ngIf="onshore.errors.required">Please select Location.</div>
            </div>
        </div>
        <!-- Checkboxes -->
        <div class="from-group">
            <div class="row no-gutters my-4">
                <div class="col-lg-4">
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">HTML5,CSS3,JS</label>
                    </div>
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">SASS</label>
                    </div>
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                        <label class="form-check-label" for="defaultCheck3">ES5,ES6,ES7...</label>
                    </div>
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                        <label class="form-check-label" for="defaultCheck4">Bootstap</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                        <label class="form-check-label" for="defaultCheck5">Angular 8</label>
                    </div>
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                        <label class="form-check-label" for="defaultCheck6">React JS</label>
                    </div>
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                        <label class="form-check-label" for="defaultCheck7">Veu JS</label>
                    </div>
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                        <label class="form-check-label" for="defaultCheck8">TypeScript</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                        <label class="form-check-label" for="defaultCheck9">Express JS</label>
                    </div>
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                        <label class="form-check-label" for="defaultCheck10">Node JS</label>
                    </div>
                    <div class="form-check my-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                        <label class="form-check-label" for="defaultCheck11">Mongo DB</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Comments -->
        <div class="form-group">
            <textarea formControlName="comments" name="comments" id="comments" cols="30" rows="3" class="form-control" placeholder="Comments"></textarea>
            <div *ngIf="comments.touched && comments.invalid" class="alert alert-danger">
                <div *ngIf="comments.errors.required">Please enter comments.</div>
            </div>
        </div>

        <!-- Json Data -->
        <p>
            {{ form.value | json }}
        </p>

        <button class="btn btn-primary mr-3" [disabled]="!form.valid">Submit</button>
        <button class="btn btn-danger">Reset</button>
    </form>
</div>